
:root {
  --bg-gradient-start: #1d2b64;
  --bg-gradient-end: #f8cdda;

  --primary-color: #4e54c8;
  --primary-hover: #5a5fe0;

  --text-color: #000000;
  --subtext-color: #555555;
  --link-color: #4e54c8;
  --link-hover-color: #ff4d4f;

  --input-bg: #b7c9fa;
  --input-border: #9fb7c5;

  --box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}




.MainDiv {
    background-color: #FFF;
    padding: 60px 40px ;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 0;
    text-align: start;
}

.h1 {
    font-size: 34px;
    margin-bottom: 0;
}

.main-p {
    color: var(--subtext-color);
    margin-top: 2px;
}

.p {
    margin-bottom: 0;
    font-weight: bolder;
}
.input {
    margin-top: 10px;
    padding: 15px;
    background-color: var(--input-bg);
    width: 20vw;
    border-radius: 5px;
    border: transparent;
    margin-bottom: 10px;
    
}

.button {
    margin-top: 30px;
    padding: 15px;
}

input:focus {
  outline: none;
  border: 2px solid #4f46e5; /* azul elegante */
}

button:hover {
  background-color: #1f1f1f;
  transition: all 0.3s ease;
}